<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
  <% if (flashMessages.info) { %>
    <div class="alert alert-info" id = "info-alert">
      <%= flashMessages.info %>
    </div>
  <% } %>
    
    <% if (flashMessages.warning) { %>
    <div class="alert alert-info" id = "info-alert">
      <%= flashMessages.warning %>
    </div>
  <% } %> 
    
    
  <div class="container">
    <form class="search-form" action="/search" method="POST">
      <input class="form-control mr-sm-2" type="text" name="movieTitle" placeholder="Search...">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <h2 class="saved-movies-heading">Saved Movies</h2>
    <h3>You've watched <%= totalMovies %> movies a total of <%= totalTimesWatched %> times!</h3> 

    <div class="select-container">
      Sort by:
      <select onchange="window.location=this.value">
        <option value="">Select an option</option>
        <option value="/sort/title" <% if (sortType === 'title') { %> selected <% } %> >Movie Title</option>
          
          
        <option value="/sort/year"<% if (sortType === 'year') { %> selected <% } %> >Release Year</option>
          
          
        <option value="/sort/timesWatched" <% if (sortType === 'timesWatched') { %> selected <% } %> >Frequently Watched</option>
          
          
        <option value="/sort/rating"<% if (sortType === 'rating') { %> selected <% } %>>Highly Rated</option>
      </select>   
    </div>
      
    <div class="select-container">
        Filter by Genre: <select onchange="window.location=this.value">
        <option value="">Select an option</option>
        
    
        <option value="filter?genre=action" >Action</option>
        
        <option value="filter?genre=horror" >Horror</option>
        
        <option value="filter?genre=sci-fi" >Sci-Fi</option>
        
        <option value="filter?genre=comedy" >Comedy</option>
        
        <option value="filter?genre=romance" >Romance</option>
        
        <option value="filter?genre=thriller" >Thriller</option>
        
        <option value="filter?genre=" >Remove filter</option>
        
        
        </select>
      </div>

    <div class="movie-list">
      <ul>
        <% savedMovies.forEach(movie => { %>
          <li class="movie-item">
              

            <div class="movie-container">
                
                
              <div class="poster">            
                <% if (movie.poster !== "N/A" && movie.poster !== "") {  %>
                  <img src="<%= movie.poster %>" alt="<%= movie.title %>">
                <%}  else { %>
                    <img src="/image.jpg"alt="<%= movie.title %>">
                  <%}%> 
                  
                  
              </div>

              <div class="movie-info">
                
                <a href="info/<%= movie._id%>" ><h3><%= movie.title %> (<%= movie.year %>)</h3></a>
            
                
                <h3>Times Watched: <%= movie.timesWatched %></h3> 
                <h3>Rating: <%= movie.rating %></h3>
                <div class="movie-actions">
                  <a href="watch/<%= movie._id %>">Watch</a>
                  <a href="delete/<%= movie._id %>">Delete</a>
                </div>
              </div>
            </div>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>   
  <script src="index.js"></script>
    
    
</body>
</html>
 
    
 