<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<body>
  <% if (flashMessages.info) { %>
    <div class="alert alert-info">
      <%= flashMessages.info %>
    </div>
  <% } %>
  <div class="container">
    <form class="search-form" action="/search" method="POST">
      <input class="form-control mr-sm-2" type="text" name="movieTitle" placeholder="Search...">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <h2 class="saved-movies-heading">Saved Movies</h2>
    <h3>You've watched <%= totalMovies %> movies a total of <%= totalTimesWatched %> times!</h3> 

    <div class="select-container">
      Sort by:
      <select onchange="window.location=this.value">
        <option value="">Select an option</option>
        <option value="/sort/title">Movie Title</option>
        <option value="/sort/year">Release Year</option>
        <option value="/sort/timesWatched">Frequently Watched</option>
        <option value="/sort/rating">Highly Rated</option>
      </select>   
    </div>

    <div class="movie-list">
      <ul>
        <% savedMovies.forEach(movie => { %>
          <li class="movie-item">
              

            <div class="movie-container">
              <div class="poster">            
                <% if (movie.poster) { %>
                  <img src="<%= movie.poster %>" alt="<%= movie.title %>">
                <% } %>
              </div>

              <div class="movie-info">
                
                <a href="info/<%= movie._id%>" ><h3><%= movie.title %> (<%= movie.year %>)</h3></a>
            
                
                <h3>Times Watched: <%= movie.timesWatched %></h3> 
                <h3>Rating: <%= movie.rating %></h3>
                <div class="movie-actions">
                  <a href="watch/<%= movie._id %>">Watch</a>
                  <a href="delete/<%= movie._id %>">Delete</a>
                </div>
              </div>
            </div>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
</body>
</html>
 
    
 