<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>
<head>
  <style>
    .container {
      margin: 20px auto;
      max-width: 800px;
    }

    .movie-container {
      display: flex;
      align-items: center;
    }

    .poster {
      flex: 0 0 auto;
      margin-right: 20px;
    }

    .poster img {
      max-width: 300px; /* Adjust the size as needed */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .movie-info {
      flex: 1;
    }

    .movie-info h3 {
      margin: 5px 0;
    }
      
    .related-movies-container {
        overflow-x: auto;
        white-space: nowrap;
    }
    .rec {
        width: 150px; /* Adjust the width as needed */
        display: inline-block;
        margin-right: 10px; /* Adjust spacing between posters */
    }
      
      .scrollable {
  display: inline-block;
}

.rec-image-container {
  display: inline-block;
}

.rec-image-container img {
  width: 100px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}
      
  </style>
</head>
<body>
  <% if (flashMessages.info) { %>
    <div class="alert alert-info">
      <%= flashMessages.info %>
    </div>
  <% } %>
  <div class="container">
    <div class="movie-container">
      <div class="poster">            
        <% if (movie.poster) { %>
          <img src="<%= movie.poster %>" alt="<%= movie.title %>">
        <% } %>
      </div>
      <div class="movie-info">
        <h3><%= movie.title %> (<%=movie.year %>)</h3> 
        <h3>Times Watched: <%= movie.timesWatched %></h3> 
        <h3>Rating: <%= movie.rating %></h3>
        <h3>Genre: <%= movie.genre %></h3>
        <h3>Plot: <%=movie.plot %></h3>  
      </div>
        
    </div>
  </div>
    
  <div class="related-movies-container">
      <div class = "scrollable">
    <% recs && recs.forEach((movie, index) => { %>
      

      
<div class="rec-image-container"> 
      <% if (movie.poster_path !== "N/A" && movie.poster_path !== "") {  %>
        <img src="<%= process.env.TMDB_IMG_PREFIX +  movie.poster_path %>" alt="<%= movie.title %>" class="rec">
      <% } else { %>
        <img src="/image.jpg" alt="<%= movie.title %>" class="movie-image">
      <% } %>
      <form action="/save" method="POST">
        <input type="hidden" name="tmdbID" value="<%= movie.id %>">
        <input type="hidden" name="title" value="<%= movie.Title %>">
        <input type="hidden" name="year" value="<%= movie.release_date.slice(0, 4) %>">
        <button type="submit" class="btn btn-primary" >Save</button>
      </form>
</div>
    <% }) %>
      </div>    
          
</div>

    
    
</body>
</html>
